
<div class="container">

<p class="title">Choisir la difficulté</p>
    <div class="buttons">
        <div class="card">
            <button (click)="chooseDificulty(10)" class="round"> Facile </button><br>
            <p> 10 💣</p>
        </div> 
        <div class="card">
            <button (click)="chooseDificulty(15)" class="round"> Normal </button><br>
            <p> 15 💣</p>
        </div>
        <div class="card">
            <button (click)="chooseDificulty(20)" class="round"> Difficile </button><br>
            <p> 20 💣</p>
        </div>
        <div class="card">
            <button (click)="chooseDificulty(25)" class="round"> Cauchemar </button><br>
            <p> 25 💣</p>
        </div> 
    </div>
</div>
